/* =========================
   PROTOCOL COLOR SYSTEM
========================= */

body[data-protocol="emerald"] {
  --green: #00ff41;
  --dark-green: #003b00;
  --red: #ff003c;
  --bg: #010a01;
  --glass: rgba(0, 255, 65, 0.05);
}

body[data-protocol="cobalt"] {
  --green: #00f2ff;
  --dark-green: #001a3b;
  --red: #ff8c00;
  --bg: #00050a;
  --glass: rgba(0, 242, 255, 0.05);
}

/* Red Protocol */
body[data-protocol="crimson"] {
  --green: #ff3b3b;
  --dark-green: #3b0000;
  --red: #ffb4b4;
  --bg: #0a0000;
  --glass: rgba(255, 59, 59, 0.06);
}

/* Yellow Protocol */
body[data-protocol="amber"] {
  --green: #ffd500;
  --dark-green: #3b2f00;
  --red: #ff7a00;
  --bg: #0a0800;
  --glass: rgba(255, 213, 0, 0.06);
}

/* Mono Dark Protocol */
body[data-protocol="void"] {
  --green: #9ca3af;
  --dark-green: #111827;
  --red: #6b7280;
  --bg: #020617;
  --glass: rgba(148, 163, 184, 0.06);
}

/* Ice Protocol */
body[data-protocol="frost"] {
  --green: #e0f2fe;
  --dark-green: #0f172a;
  --red: #38bdf8;
  --bg: #020617;
  --glass: rgba(224, 242, 254, 0.08);
}
